<h1> *****PAGE 3****** </h1>
<h2><%= link_to "Home", '/' %></h2>
<h2><%= link_to "Edit Story", edit_person_path(@person) %></h2>
<%= button_to('Delete Story', @person, method: :delete) %>

<h2> <%= @person.name %></h2>
<h2> <img src="<%= @person.image_url %>" /></h2>
<h2> <%= @person.story %></h2>
<h2> Charity: <%= @person.charity_name %></h2>
<h2> Charity Website: <%= @person.charity_url %></h2>
<h2> Personal Website: <%= @person.personal_website %></h2>

<h2>
<% other_people = @people.where.not(id: @person.id) %>
<% other_people.each do |person| %>
    <%= link_to(image_tag(person.image_url, width: '150'), person_path(person)) %>

<% end %>

<hr>

<h2> Illness Description<h2>
<h2> About <%= @person.illness.name %> </h2>
<h3><%= @person.illness.statistics %> </h3>
<h3><%= @person.illness.quote %> </h3>
  <h3><%= @person.illness.blurb %> </h3>


<hr>
<%= button_to('Submit User Story', new_person_path, method: :get) %>
