<header><%= link_to(image_tag("usa_today_logo.png"), '/')%>
<%= link_to("#InvisibleIllness", 'https://twitter.com/hashtag/InvisibleIllness', :target => "_blank") %>
</header>


<!-- <h1> *****PAGE 3****** </h1> -->
<%= button_to('Delete Story', @person, method: :delete) %>
<%= button_to('Edit Story', edit_person_path(@person), method: :get) %>

<h2> <%= @person.name %></h2>
<h2> <img src="<%= @person.image_url %>" width=200/></h2>
<h2> <%= @person.story %></h2>
<h2>Donate:</h2>
<h2><a href="<%= @person.charity_url %>"><%= @person.charity_name %></a></h2>
<h2> <a href="<%= @person.personal_website %>">Personal Website</a></h2>

<h2>
<% other_people = @people.where.not(id: @person.id) %>
<% other_people.each do |person| %>
    <%= link_to(image_tag(person.image_url, width: '150'), person_path(person)) %>

<% end %>

<hr>

<h2> Illness Description<h2>
<h2> About <%= @person.illness.name %> </h2>
<h3><%= @person.illness.statistics %> </h3>
<h3><%= @person.illness.quote %> </h3>
  <h3><%= @person.illness.blurb %> </h3>


<hr>
<%= button_to('Submit User Story', new_person_path, method: :get) %>
