<!DOCTYPE html>
<html>
<head>
  <title>Insivible Illness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
     <div class="flash <%= key %>" style="color:white"><%= value %></div>
   <% end %>
   <header><%= link_to(image_tag("usa_today_logo.png"), '/')%></header>
  <div class= "t_link">
<%= yield %>
<!-- <h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3> -->


</body>
</html>
